@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Honk&family=Nabla&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root{
    --cor-de-fundo: #2f0052;
    --verde: #f907f5;
    --branco: #FFFFFF;
    --botao-ativo: #291dada7;
    --botao-inativo: rgba(34, 29, 91, 0.5);
    --texto-fundo: rgb(222, 9, 214);
    --botao-topo: #7009ee;
}

body {
    background-image: url('FlqWBf6XEAE8Euz.jpeg');
    background-size: 2200px 1200px;
    background-position:top;
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Honk', sans-serif;
  }

  .conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 150%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    font-size: 120px;
}

.botoes{
    display: block;
}
@media screen and (min-width: 768px) {
    .botoes{
        display: block;
    }
}

.botao{
    font-family: "Comfortaa", sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 2em;
    font-size: 21px;
    align-items: center;
    width: 100%;
    border-left: 4px solid var(--botao-topo);
    border-right: 4px solid var(--botao-topo);
    border-bottom: transparent;
    border-top: transparent;
}

.botao:first-child{
    border-radius: 20px 20px 0px 0px;
    border-top: 4px solid var(--botao-topo);

}

.botao:last-child{
    border-radius: 0px 0px 20px 20px;
    border-bottom: 4px solid var(--botao-topo);
}

.ativo{
    background-color: var(--botao-ativo);
    }
    

